<div class="tw-wrapper tw-wrapper_menu">
  <fa-icon class="tw-menu-icon" [icon]="faBars" [style]="{ color: '#f90'}" (click)="toggleMenu()"></fa-icon>
  <div class="tw-menu" [ngClass]="{'tw-menu--active': active}">
    <ul>
      <li class="tw-menu_item" *ngFor="let item of items" [ngClass]="{ 'tw-menu_item--active' : item.active}">
        <span (click)="item.click()">{{item.title}}</span>
      </li>
    </ul>
    <div class="tw-menu-names">
      <input *ngFor="let player of gameService.players; let i = index;" type="text" [(ngModel)]="gameService.players[i].name"/>
    </div>
  </div>
</div>

