<ul class="tw-players-list">
  <li *ngFor="let player of players" class="tw-player-info">
    {{player.name}}
    <ul>
      <li *ngFor="let limb of player.limbs">
        <span *ngIf="!isSmall">{{limb.title}}</span> 
        <span *ngIf="isSmall">{{limb.title[0]}}</span> 
        <span *ngIf="limb.cell">
          {{limb.cell.color}} {{limb.cell.number}}
        </span>
        <span *ngIf="!limb.cell && !isSmall">is free</span>
        <span *ngIf="!limb.cell && isSmall">-</span>
      </li>
    </ul>
  </li>
</ul>
